version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "8080:8080"
    restart: unless-stopped
    depends_on: []

  mobile:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    command: npx expo start --tunnel
    volumes:
      - ./frontend:/app
    ports:
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
      - "19006:19006"
    environment:
      - EXPO_USE_DEV_SERVER=1
    restart: unless-stopped
